ion-content, ion-item, ion-item-divider{
  --background: #38789e !important;
}
ion-avatar{
  width: 30% !important;
  height: auto !important;
}
ion-item{
  color: white !important;
}
ion-title{
  font-family: "Century Gothic";
  font-weight: bolder;
  margin-left: 5px;
  text-shadow: 2px 2px 2px black;
}
ion-label{
  margin-left: 2px;
}
