ion-content, ion-item, ion-item-divider{
  --background: #38789e !important;
}
ion-avatar{
  width: 30% !important;
  height: auto !important;
}
ion-item{
  color: white !important;
}
ion-title{
  font-family: "Century Gothic";
  font-weight: bolder;
  color: white !important;
  margin-left: 5px;
  text-shadow: 2px 2px 2px black;
}
ion-item ion-tab-button ion-label{
  margin-left: 3px;
  font-size: 15px;
}
.oblivion-tabs ion-tab-button ion-label{
  font-size: 12px;
  margin:auto;
}
.logout{
  color: #e8e7e5 !important;
}

.logout ion-icon{
  margin-right: 2px;
}
