<ion-content>
  <div>
  <ion-item>
    <ion-avatar>
      <img *ngIf="this.usuarioLogueado[0].tipo === 'Administrador'" src="assets/img/admin_profile.png">
      <img *ngIf="this.usuarioLogueado[0].tipo === 'Cliente'" src="assets/img/cliente_profile.png">
    </ion-avatar>
    <ion-title>
      <h3>{{this.usuarioLogueado[0].nombre}} {{this.usuarioLogueado[0].primerApellido}}</h3>
    </ion-title>
  </ion-item>
  <ion-item>
    <ion-tab-button [routerLink]="['./editar']">
      <ion-label> <ion-icon name='pencil'></ion-icon> Editar perfil</ion-label>
    </ion-tab-button>
  </ion-item>
  <ion-item>
    <ion-tab-button [routerLink]="['/logout']">
      <ion-label><ion-icon name="log-out-outline"></ion-icon> Logout</ion-label>
    </ion-tab-button>
  </ion-item>
</div>
<ion-tabs class="oblivion-tabs">
  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink]="['/home']">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button *ngIf="this.usuarioLogueado[0].tipo === 'Cliente'" [routerLink]="['/buscar']">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>
    <ion-tab-button *ngIf="this.usuarioLogueado[0].tipo === 'Administrador'" [routerLink]="['/habitacion']">
      <ion-icon name="bed-outline"></ion-icon>
      <ion-label>Habitaciones</ion-label>
    </ion-tab-button>
    <ion-tab-button *ngIf="this.usuarioLogueado[0].tipo === 'Administrador'" [routerLink]="['/usuario']">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Usuarios</ion-label>
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/perfil']">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>
