<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/habitacion"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ habitacion.nombre }} </ion-title>
    <ion-button slot = 'primary'>
      <ion-button [routerLink]="['./editar']">
        <ion-icon name='pencil' slot='icon-only'></ion-icon>
      </ion-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label position="floating">Nombre: {{habitacion.nombre}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label position="floating">Estado: {{habitacion.estado}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label position="floating">Categoria: {{habitacion.categoria}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label position="floating">Capacidad: {{habitacion.capacidad}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label position="floating">Precio: {{habitacion.precio}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label position="floating">Provincia donde se ubica: {{habitacion.provincia}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label position="floating">Descripción: {{habitacion.descripcion}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label position="floating">Imagen <br></ion-label>
        <img src={{habitacion.img}}>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
