<ion-header>
  <ion-toolbar>
    <ion-title> Búsqueda </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="search">
  <form [formGroup]="formBuscar">
    <ion-grid>
      <ion-row>
          <ion-item>
            <ion-label>Check-In</ion-label>
            <!-- <ion-datetime display-format="D, MMMM, YYYY" placeholder="Fecha de Ingreso" formControlName="checkIn"></ion-datetime> -->
            <ion-datetime [min]="today" placeholder="Fecha de Ingreso" formControlName="checkIn"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Check-Out</ion-label>
            <ion-datetime [min]="today" placeholder="Fecha de Salida" formControlName="checkOut"></ion-datetime>
          </ion-item>
          <ion-col size-sm="6" offset-sm="3" class="select">
          <ion-item>
            <ion-label position="floating">Ubicación</ion-label>
             <ion-select value="San Jose" okText="Aceptar" cancelText="Cancelar" formControlName="provincia">
              <ion-select-option value="San Jose">Oblivion San José</ion-select-option>
              <ion-select-option value="Alajuela">Oblivion Alajuela</ion-select-option>
              <ion-select-option value="Heredia">Oblivion Heredia</ion-select-option>
              <ion-select-option value="Cartago">Oblivion Cartago</ion-select-option>
              <ion-select-option value="Puntarenas">Oblivion Puntarenas</ion-select-option>
              <ion-select-option value="Guanacaste">Oblivion Guanacaste</ion-select-option>
              <ion-select-option value="Limon">Oblivion Limón</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="
        !formBuscar.get('checkIn').valid &&
        !formBuscar.get('checkOut').valid
        ">
        <ion-col  size-sm="6" offset-sm="3">
          <p class="alerta">* Debes elegir fecha de entrada y salida</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-card>
<ion-card class="boton">
  <ion-button (click)="searchFunction()"><ion-icon name="search-outline"></ion-icon> Buscar</ion-button>
</ion-card>
</ion-content>
