<ion-header>
  <ion-toolbar>
    <ion-title>Crear</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="addFunction()">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formExample">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Id</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="id"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label>Nombre</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="nombre"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label>Estado</ion-label>
            <ion-textarea row="3" formControlName="estado"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label>Categoria</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="categoria"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label>Descripcion</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="descripcion"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label>Imagen 1</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="img1"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label>Imagen 2</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="img2"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label>Imagen 3</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="img3"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!formExample.get('descripcion').valid &&
                      formExample.get('descripcion').touched">
        <ion-col  size-sm="6" offset-sm="3">
          <p>La descripcion debe de ser menor a 180 caracteres</p>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="
        !formExample.get('descripcion').valid &&
        !formExample.get('nombre').valid &&
        !formExample.get('id').valid &&
        !formExample.get('estado').valid &&
        !formExample.get('categoria').valid &&
        !formExample.get('img1').valid &&
        !formExample.get('img2').valid &&
        !formExample.get('img3').valid
      ">
        <ion-col  size-sm="6" offset-sm="3">
          <p>Todos los campos son requeridos</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

