<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/habitacion"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="addFunction()">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formCrear">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Ubicacion</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="ubicacion"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Estado</ion-label>
            <ion-select value="Activa" okText="Okay" cancelText="Cancelar" formControlName="estado">
              <ion-select-option value="Activa">Activa</ion-select-option>
              <ion-select-option value="Inactiva">Inactiva</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Categoria</ion-label>
            <ion-select value="Economy" okText="Okay" cancelText="Cancelar" formControlName="categoria">
              <ion-select-option value="Activa">Economy</ion-select-option>
              <ion-select-option value="Inactiva">Double</ion-select-option>
              <ion-select-option value="Inactiva">Junior</ion-select-option>
              <ion-select-option value="Activa">Deluxe</ion-select-option>
              <ion-select-option value="Inactiva">Family</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Descripcion</ion-label>
            <ion-textarea type="text" autocomplete autocorrect formControlName="descripcion"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Imagen 1</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="img1"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Imagen 2</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="img2"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Imagen 3</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="img3"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="
        !formCrear.get('ubicacion').valid &&
        !formCrear.get('estado').valid &&
        !formCrear.get('categoria').valid &&
        !formCrear.get('descripcion').valid &&
        !formCrear.get('img1').valid &&
        !formCrear.get('img2').valid &&
        !formCrear.get('img3').valid
      ">
        <ion-col  size-sm="6" offset-sm="3">
          <p>Todos los campos son requeridos</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

