<ion-header>
  <ion-toolbar>
    <ion-title>Reservaciones</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let reservacion of reservaciones" [routerLink]="['./', reservacion.id]">
    <ion-row>
      <ion-col>
        <ion-item-divider width="20px">
          <ion-label>ID Reservación: </ion-label>
          <ion-text>{{reservacion.id}}</ion-text>
        </ion-item-divider>
        <ion-card-content>
          <ion-row>
            <ion-title>ID Cliente: </ion-title>
            <ion-text>{{reservacion.usuario}}</ion-text>
          </ion-row>
          <ion-row>
              <ion-title>Período de reservacion:</ion-title>
              <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="reservacion.checkIn" readonly></ion-datetime>
                <ion-text class="separador">/</ion-text>
              <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="reservacion.checkOut" readonly float-end></ion-datetime>
          </ion-row>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-card>
  <div class="undefined" *ngIf="reservaciones.length === 0">* No hay reservaciones a su nombre</div>
</ion-content>
