<ion-header>
  <ion-toolbar>
    <ion-buttons >
      <ion-back-button slot="start" defaultHref="/reservacion"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-text style="margin-right: 0; margin-left: 250px;">{{reservacion.id}}</ion-text>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-card-content>
      <ion-row>
        <ion-text><ion-icon name="location-outline"></ion-icon><strong>{{reservacion.usuario}}</strong></ion-text>
      </ion-row>
      <ion-row>
        <h2 style="margin-right: 15px;"><strong>{{reservacion.habitacion}}</strong></h2>
      </ion-row>
      <ion-row>
        <ion-text style="text-align: justify;">{{reservacion.checkIn}}</ion-text>
      </ion-row>
      <ion-row>
        <ion-text style="text-align: justify;">{{reservacion.checkOut}}</ion-text>
      </ion-row>
      <ion-row>
        <ion-text style="text-align: justify;">{{reservacion.precioTotal}}</ion-text>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
