ion-col p{
  font-family: "Century Gothic" !important;
  text-align: center;
  font-weight: bold;
  color: #19a7cd;
}
ion-content ion-item ion-label, ion-select,ion-select-option{
  font-weight:normal;
  font-family: "Century Gothic" !important;
  font-size: 15px;
}
