<ion-header>
  <ion-toolbar>
    <ion-title> Resultados </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/buscar"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let habitacion of habitaciones" [routerLink]="['./', habitacion.id]">
    <ion-row>
        <ion-col col-3>
          <ion-avatar>
            <ion-img [src]="habitacion.img"></ion-img>
          </ion-avatar>
        </ion-col>
        <ion-col col-9>
            <ion-item-divider width="20px"><strong>{{habitacion.nombre}}</strong></ion-item-divider>
        <ion-card-content>
            <ion-row>
              <ion-icon name="grid-outline" style="margin-left: 5px;margin-right: 5px;"></ion-icon>
              <ion-text> {{habitacion.categoria}}</ion-text>
            </ion-row>
            <ion-row>
              <ion-text><strong> <ion-icon name="location-outline"></ion-icon> {{habitacion.provincia}}</strong></ion-text>
            </ion-row>
            <ion-row>
              <ion-icon  name="people-outline" style="margin-left: 5px;margin-right: 5px;"></ion-icon>{{habitacion.capacidad}}
            </ion-row>
              <ion-row>
                <ion-text style="margin-right: initial;"><strong>₡{{habitacion.precio}} (CRC)</strong></ion-text>
              </ion-row>
          </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-card>
  <div class="undefined" *ngIf="habitaciones.length === 0">* No hay resultados para su búsqueda.</div>
</ion-content>
