<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides pager="true" class="slide-full">
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.img">
    </ion-slide>
  </ion-slides>
  <ion-title align="center"><strong>Vacaciones en Familia</strong></ion-title>
  <p align="center">Le damos la bienvenida a Oblivion Hotel & Resort. Reserva ahora tu habitación.</p>

  <ion-tabs class="oblivion-tabs">
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/buscar">
        <ion-icon name="search-outline"></ion-icon>
        <ion-label>Buscar</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/habitacion">
        <ion-icon name="bed-outline"></ion-icon>
        <ion-label>Habitaciones</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/usuario">
        <ion-icon name="people-outline"></ion-icon>
        <ion-label>Usuarios</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>

