<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="editFunction()">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-title align="center">Detalles</ion-title>
  <form [formGroup]="formEdit">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
            <ion-input value={{this.usuarioLogueado[0].id}} formControlName="id" hidden></ion-input>
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text" value={{this.usuarioLogueado[0].nombre}} formControlName="nombre"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Primer Apellido</ion-label>
            <ion-input row="3" value={{this.usuarioLogueado[0].primerApellido}} formControlName="primerApellido"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Segundo Apellido</ion-label>
            <ion-input type="text" value={{this.usuarioLogueado[0].segundoApellido}} autocorrect formControlName="segundoApellido"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating">Teléfono</ion-label>
              <ion-input type="tel" value={{this.usuarioLogueado[0].telefono}} autocorrect formControlName="telefono"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating">Correo</ion-label>
              <ion-input type="text" value={{this.usuarioLogueado[0].correo}} autocorrect formControlName="correo" reado></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" value={{this.usuarioLogueado[0].password}} autocorrect formControlName="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
            <ion-input value={{this.usuarioLogueado[0].tipo}} autocorrect formControlName="tipo" hidden></ion-input>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="
        !formEdit.get('nombre').valid &&
        !formEdit.get('primerApellido').valid &&
        !formEdit.get('segundoApellido').valid &&
        !formEdit.get('telefono').valid &&
        !formEdit.get('correo').valid &&
        !formEdit.get('password').valid &&
        !formEdit.get('tipo').valid
      ">
        <ion-col  size-sm="6" offset-sm="3">
          <p>Todos los campos son requeridos</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
